openapi: 3.2.0
info:
  title: Amplitude Experiment Management Deployments API
  description: The Amplitude Experiment Management API provides programmatic control over feature flags and experiments. It supports creating, updating, activating, and archiving experiments and flags, as well as managing deployments, variants, holdout groups, and mutual exclusion groups. This API enables teams to integrate experiment lifecycle management into their CI/CD pipelines, automate flag rollouts, and manage experimentation workflows without using the Amplitude UI.
  version: '1'
  contact:
    name: Amplitude Support
    url: https://amplitude.com/contact
  termsOfService: https://amplitude.com/terms
servers:
- url: https://experiment.amplitude.com
  description: Amplitude Experiment Management Server
security:
- bearerAuth: []
tags:
- name: Deployments
  description: Deployment management operations
paths:
  /api/1/deployments:
    get:
      operationId: listDeployments
      summary: Amplitude List All Deployments
      description: Retrieve a list of all deployments that experiments and flags can be assigned to. Deployments represent environments or platforms where flags are evaluated.
      tags:
      - Deployments
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentListResponse'
              examples:
                listDeployments200Example:
                  summary: Default listDeployments 200 response
                  x-microcks-default: true
                  value:
                    deployments:
                    - example_value
        '401':
          description: Unauthorized
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/1/deployments/{id}:
    get:
      operationId: getDeployment
      summary: Amplitude Get a Deployment
      description: Retrieve a single deployment by its ID.
      tags:
      - Deployments
      parameters:
      - name: id
        in: path
        required: true
        description: The unique identifier of the deployment.
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deployment'
              examples:
                getDeployment200Example:
                  summary: Default getDeployment 200 response
                  x-microcks-default: true
                  value:
                    id: '500123'
                    projectId: '500123'
                    label: example_value
                    key: example_value
                    deleted: true
        '401':
          description: Unauthorized
        '404':
          description: Deployment not found
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    Deployment:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier for the deployment.
        projectId:
          type: string
          description: The project the deployment belongs to.
        label:
          type: string
          description: The display label for the deployment.
        key:
          type: string
          description: The deployment key used for API authentication.
        deleted:
          type: boolean
          description: Whether the deployment has been deleted.
    DeploymentListResponse:
      type: object
      properties:
        deployments:
          type: array
          description: Array of deployment objects.
          items:
            $ref: '#/components/schemas/Deployment'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Use a Management API key generated in the Experiment sidebar of the Amplitude UI. Pass it in the Authorization header as Bearer YOUR_MANAGEMENT_API_KEY.
externalDocs:
  description: Amplitude Experiment Management API Documentation
  url: https://amplitude.com/docs/apis/experiment/experiment-management-api
