openapi: 3.2.0
info:
  title: Amplitude Dashboard REST Funnel Analysis API
  description: The Amplitude Dashboard REST API provides programmatic access to the same data displayed in Amplitude's dashboard charts and graphs. It returns results in JSON format and supports queries filtered by event types, user segments, cohorts, and date ranges. Developers can use this API to build custom reporting tools, export chart data, or integrate Amplitude analytics into external dashboards and business intelligence systems.
  version: '2'
  contact:
    name: Amplitude Support
    url: https://amplitude.com/contact
  termsOfService: https://amplitude.com/terms
servers:
- url: https://amplitude.com
  description: Amplitude Production Server
security:
- basicAuth: []
tags:
- name: Funnel Analysis
  description: Funnel analysis operations
paths:
  /api/2/funnels:
    get:
      operationId: getFunnelAnalysis
      summary: Amplitude Get Funnel Analysis
      description: Get funnel drop-off and conversion rates for a sequence of events. Each event parameter in the query string defines a step in the funnel.
      tags:
      - Funnel Analysis
      parameters:
      - $ref: '#/components/parameters/eventParam'
      - $ref: '#/components/parameters/startDate'
      - $ref: '#/components/parameters/endDate'
      - name: n
        in: query
        description: The conversion window in days. Default varies by project settings.
        schema:
          type: integer
      - name: s
        in: query
        description: Segment definitions as a JSON-encoded array.
        schema:
          type: string
      - name: g
        in: query
        description: The property to group results by.
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FunnelResult'
              examples:
                getFunnelAnalysis200Example:
                  summary: Default getFunnelAnalysis 200 response
                  x-microcks-default: true
                  value:
                    data: {}
        '400':
          description: Bad request
        '401':
          description: Unauthorized
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  parameters:
    eventParam:
      name: e
      in: query
      required: true
      description: A JSON-encoded event object with at minimum an event_type field. For funnel analysis, multiple e parameters define each funnel step.
      schema:
        type: string
    endDate:
      name: end
      in: query
      required: true
      description: The end date in YYYYMMDD format.
      schema:
        type: string
        pattern: ^\d{8}$
    startDate:
      name: start
      in: query
      required: true
      description: The start date in YYYYMMDD format.
      schema:
        type: string
        pattern: ^\d{8}$
  schemas:
    FunnelResult:
      type: object
      properties:
        data:
          type: object
          description: Funnel conversion data including step-by-step drop-off rates.
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: Use your Amplitude API key as the username and your secret key as the password. Encode them as base64 in the format api_key:secret_key.
externalDocs:
  description: Amplitude Dashboard REST API Documentation
  url: https://amplitude.com/docs/apis/analytics/dashboard-rest
