openapi: 3.1.0
info:
  title: Amplitude Attribution Annotations Funnel Analysis API
  description: The Amplitude Attribution API allows developers to send attribution campaign events to Amplitude from ad networks, attribution providers, or custom marketing tools. It associates users with the campaigns, channels, and creatives that drove their acquisition or re-engagement. This API is used to enrich Amplitude user profiles with marketing attribution data for campaign performance analysis and ROI measurement.
  version: '2'
  contact:
    name: Amplitude Support
    url: https://amplitude.com/contact
  termsOfService: https://amplitude.com/terms
servers:
- url: https://api2.amplitude.com
  description: Amplitude US Production Server
- url: https://api.eu.amplitude.com
  description: Amplitude EU Production Server
security: []
tags:
- name: Funnel Analysis
  description: Funnel analysis operations
paths:
  /api/2/funnels:
    get:
      operationId: getFunnelAnalysis
      summary: Amplitude Get Funnel Analysis
      description: Get funnel drop-off and conversion rates for a sequence of events. Each event parameter in the query string defines a step in the funnel.
      tags:
      - Funnel Analysis
      parameters:
      - $ref: '#/components/parameters/eventParam'
      - $ref: '#/components/parameters/startDate'
      - $ref: '#/components/parameters/endDate'
      - name: n
        in: query
        description: The conversion window in days. Default varies by project settings.
        schema:
          type: integer
      - name: s
        in: query
        description: Segment definitions as a JSON-encoded array.
        schema:
          type: string
      - name: g
        in: query
        description: The property to group results by.
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FunnelResult'
              examples:
                getFunnelAnalysis200Example:
                  summary: Default getFunnelAnalysis 200 response
                  x-microcks-default: true
                  value:
                    data: {}
        '400':
          description: Bad request
        '401':
          description: Unauthorized
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  parameters:
    endDate:
      name: end
      in: query
      required: true
      description: The end date in YYYYMMDD format.
      schema:
        type: string
        pattern: ^\d{8}$
    eventParam:
      name: e
      in: query
      required: true
      description: A JSON-encoded event object with at minimum an event_type field. For funnel analysis, multiple e parameters define each funnel step.
      schema:
        type: string
    startDate:
      name: start
      in: query
      required: true
      description: The start date in YYYYMMDD format.
      schema:
        type: string
        pattern: ^\d{8}$
  schemas:
    FunnelResult:
      type: object
      properties:
        data:
          type: object
          description: Funnel conversion data including step-by-step drop-off rates.
externalDocs:
  description: Amplitude Attribution API Documentation
  url: https://amplitude.com/docs/apis/analytics/attribution
