openapi: 3.2.0
info:
  title: Amplitude Dashboard REST Event List API
  description: The Amplitude Dashboard REST API provides programmatic access to the same data displayed in Amplitude's dashboard charts and graphs. It returns results in JSON format and supports queries filtered by event types, user segments, cohorts, and date ranges. Developers can use this API to build custom reporting tools, export chart data, or integrate Amplitude analytics into external dashboards and business intelligence systems.
  version: '2'
  contact:
    name: Amplitude Support
    url: https://amplitude.com/contact
  termsOfService: https://amplitude.com/terms
servers:
- url: https://amplitude.com
  description: Amplitude Production Server
security:
- basicAuth: []
tags:
- name: Event List
  description: Event listing operations
paths:
  /api/2/events/list:
    get:
      operationId: listEventTypes
      summary: Amplitude List Event Types
      description: Get the list of event types in the project along with their volume over the last 30 days.
      tags:
      - Event List
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventListResult'
              examples:
                listEventTypes200Example:
                  summary: Default listEventTypes 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - name: {}
                      totals: {}
        '401':
          description: Unauthorized
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    EventListResult:
      type: object
      properties:
        data:
          type: array
          description: Array of event type objects with names and volumes.
          items:
            type: object
            properties:
              name:
                type: string
                description: The name of the event type.
              totals:
                type: integer
                description: The total number of times this event was fired in the last 30 days.
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: Use your Amplitude API key as the username and your secret key as the password. Encode them as base64 in the format api_key:secret_key.
externalDocs:
  description: Amplitude Dashboard REST API Documentation
  url: https://amplitude.com/docs/apis/analytics/dashboard-rest
